#burger-checkbox {
    display: none;
}

.burger-icon {
    font-size: 3rem;
}

header nav .menu {
    display: none;
}

#burger-checkbox:checked ~ .menu {
    display: flex;
}

@media (min-width: 600px) {

    .burger-icon {
        display: none;
    }

    header nav .menu {
        display: flex;
    };
    
}