header nav {
    background-color: var(--accent-color);
    padding: 5px;
}

header nav .logo, header .banner h1 {
    color: var(--main-color);
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
}

header nav .menu {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

header nav .menu a {
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
}

header nav .menu a:hover {
    font-weight: bold;
}

@media (min-width: 600px) {
    header nav .container {
        display: flex;
    }

    header nav .menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

header .banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
}

header .banner h1 {
    color: var(--accent-color);
}

