@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap'); * {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'DotGothic16', sans-serif;
    --main-color: black;
    --accent-color: rgb(50, 206, 211);
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 980px;
    margin: auto;
}



/* Just for fun
@media (min-width: 500px) {
    main .products {
        display: flex;
        flex-wrap: wrap;
    }
    main .products .product {
        box-sizing: border-box;
        width: 47%;
        margin: 1%;
    }
}

@media (min-width: 660px) {
    main .products .product {
        width: 31%;
        margin: 1%;
    }
} */
