@media (min-width: 500px) {
    main .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media (min-width: 660px) {
    main .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    main .products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

main .products .product {
    border: 1px solid var(--main-color);
    padding: 5px;
}
